In [4]:
import pandas as pd
import numpy as np

In [5]:
WA=pd.read_csv('정제데이터/날씨_출결(ID컬럼).csv',encoding='CP949')
WA

           Date  Temp Weather ID_1 ID_2 ID_3 ID_4 ID_5
0    2022-08-22  25.7      맑음   출석   출석   출석   결석   출석
1    2022-08-23  27.0       비   출석   출석   출석   출석   출석
2    2022-08-24  22.5       비   출석   출석   출석   지각   지각
3    2022-08-25  24.2      맑음   출석   출석   출석   출석   출석
4    2022-08-26  25.1      맑음   출석   출석   출석   출석   출석
..          ...   ...     ...  ...  ...  ...  ...  ...
119  2023-02-14   6.1      맑음   지각   출석   출석   출석   결석
120  2023-02-15   3.8      맑음   출석   출석   출석   출석   지각
121  2023-02-16   5.9      맑음   출석   지각   조퇴   출석   출석
122  2023-02-17   7.3      맑음   출석   출석   출석   출석   출석
123  2023-02-20   4.5      맑음   출석   출석   출석   출석   출석

[124 rows x 8 columns]

In [6]:
# '지각'열 추가, 값 0으로 초기화
WA['지각']=0

# 각 행 반복
for i, row in WA.iterrows():
    
    # '지각' 발생 횟수 계산
    late_count=(row[4:8]=='지각').sum()

    # '지각' 열 값을 'late_count'로 지정
    WA.at[i, '지각']=late_count

WA

           Date  Temp Weather ID_1 ID_2 ID_3 ID_4 ID_5  지각
0    2022-08-22  25.7      맑음   출석   출석   출석   결석   출석   0
1    2022-08-23  27.0       비   출석   출석   출석   출석   출석   0
2    2022-08-24  22.5       비   출석   출석   출석   지각   지각   2
3    2022-08-25  24.2      맑음   출석   출석   출석   출석   출석   0
4    2022-08-26  25.1      맑음   출석   출석   출석   출석   출석   0
..          ...   ...     ...  ...  ...  ...  ...  ...  ..
119  2023-02-14   6.1      맑음   지각   출석   출석   출석   결석   0
120  2023-02-15   3.8      맑음   출석   출석   출석   출석   지각   1
121  2023-02-16   5.9      맑음   출석   지각   조퇴   출석   출석   1
122  2023-02-17   7.3      맑음   출석   출석   출석   출석   출석   0
123  2023-02-20   4.5      맑음   출석   출석   출석   출석   출석   0

[124 rows x 9 columns]

In [7]:
# '조퇴'열 추가, 값 0으로 초기화
WA['조퇴']=0

# 각 행 반복
for i, row in WA.iterrows():
    
    #  '조퇴' 발생 횟수 계산
    early_count=(row[4:8]=='조퇴').sum()

    # 'Late' 열 값을 'early_count'로 지정
    WA.at[i, '조퇴']=early_count

WA

           Date  Temp Weather ID_1 ID_2 ID_3 ID_4 ID_5  지각  조퇴
0    2022-08-22  25.7      맑음   출석   출석   출석   결석   출석   0   0
1    2022-08-23  27.0       비   출석   출석   출석   출석   출석   0   0
2    2022-08-24  22.5       비   출석   출석   출석   지각   지각   2   0
3    2022-08-25  24.2      맑음   출석   출석   출석   출석   출석   0   0
4    2022-08-26  25.1      맑음   출석   출석   출석   출석   출석   0   0
..          ...   ...     ...  ...  ...  ...  ...  ...  ..  ..
119  2023-02-14   6.1      맑음   지각   출석   출석   출석   결석   0   0
120  2023-02-15   3.8      맑음   출석   출석   출석   출석   지각   1   0
121  2023-02-16   5.9      맑음   출석   지각   조퇴   출석   출석   1   1
122  2023-02-17   7.3      맑음   출석   출석   출석   출석   출석   0   0
123  2023-02-20   4.5      맑음   출석   출석   출석   출석   출석   0   0

[124 rows x 10 columns]

In [8]:
# '결석'열 추가, 값 0으로 초기화
WA['결석']=0

# 각 행 반복
for i, row in WA.iterrows():
    
    # '결석' 발생 횟수 계산
    absent_count=(row[4:8]=='결석').sum()

    # '결석' 열 값을 'absent_count'로 지정
    WA.at[i, '결석']=absent_count

WA

           Date  Temp Weather ID_1 ID_2 ID_3 ID_4 ID_5  지각  조퇴  결석
0    2022-08-22  25.7      맑음   출석   출석   출석   결석   출석   0   0   1
1    2022-08-23  27.0       비   출석   출석   출석   출석   출석   0   0   0
2    2022-08-24  22.5       비   출석   출석   출석   지각   지각   2   0   0
3    2022-08-25  24.2      맑음   출석   출석   출석   출석   출석   0   0   0
4    2022-08-26  25.1      맑음   출석   출석   출석   출석   출석   0   0   0
..          ...   ...     ...  ...  ...  ...  ...  ...  ..  ..  ..
119  2023-02-14   6.1      맑음   지각   출석   출석   출석   결석   0   0   1
120  2023-02-15   3.8      맑음   출석   출석   출석   출석   지각   1   0   0
121  2023-02-16   5.9      맑음   출석   지각   조퇴   출석   출석   1   1   0
122  2023-02-17   7.3      맑음   출석   출석   출석   출석   출석   0   0   0
123  2023-02-20   4.5      맑음   출석   출석   출석   출석   출석   0   0   0

[124 rows x 11 columns]

In [9]:
# '지각&조퇴'열 추가, 값 0으로 초기화
WA['지각&조퇴']=0

# 각 행 반복
for i, row in WA.iterrows():
    
    #  '지각&조퇴' 발생 횟수 계산
    late_ear_count=(row[4:8]=='지각&조퇴').sum()

    # '지각&조퇴' 열 값을 'late_ear_count'로 지정
    WA.at[i, '지각&조퇴']=late_ear_count

WA

           Date  Temp Weather ID_1 ID_2 ID_3 ID_4 ID_5  지각  조퇴  결석  지각&조퇴
0    2022-08-22  25.7      맑음   출석   출석   출석   결석   출석   0   0   1      0
1    2022-08-23  27.0       비   출석   출석   출석   출석   출석   0   0   0      0
2    2022-08-24  22.5       비   출석   출석   출석   지각   지각   2   0   0      0
3    2022-08-25  24.2      맑음   출석   출석   출석   출석   출석   0   0   0      0
4    2022-08-26  25.1      맑음   출석   출석   출석   출석   출석   0   0   0      0
..          ...   ...     ...  ...  ...  ...  ...  ...  ..  ..  ..    ...
119  2023-02-14   6.1      맑음   지각   출석   출석   출석   결석   0   0   1      0
120  2023-02-15   3.8      맑음   출석   출석   출석   출석   지각   1   0   0      0
121  2023-02-16   5.9      맑음   출석   지각   조퇴   출석   출석   1   1   0      0
122  2023-02-17   7.3      맑음   출석   출석   출석   출석   출석   0   0   0      0
123  2023-02-20   4.5      맑음   출석   출석   출석   출석   출석   0   0   0      0

[124 rows x 12 columns]

In [10]:
# '출석'열 추가, 값 0으로 초기화
WA['출석']=0

# 각 행 반복
for i, row in WA.iterrows():
    
    #  '출석' 발생 횟수 계산
    attend_count=(row[4:8]=='출석').sum()

    # '출석' 열 값을 'attend_count'로 지정
    WA.at[i, '출석']=attend_count

WA

           Date  Temp Weather ID_1 ID_2 ID_3 ID_4 ID_5  지각  조퇴  결석  지각&조퇴  출석
0    2022-08-22  25.7      맑음   출석   출석   출석   결석   출석   0   0   1      0   3
1    2022-08-23  27.0       비   출석   출석   출석   출석   출석   0   0   0      0   4
2    2022-08-24  22.5       비   출석   출석   출석   지각   지각   2   0   0      0   2
3    2022-08-25  24.2      맑음   출석   출석   출석   출석   출석   0   0   0      0   4
4    2022-08-26  25.1      맑음   출석   출석   출석   출석   출석   0   0   0      0   4
..          ...   ...     ...  ...  ...  ...  ...  ...  ..  ..  ..    ...  ..
119  2023-02-14   6.1      맑음   지각   출석   출석   출석   결석   0   0   1      0   3
120  2023-02-15   3.8      맑음   출석   출석   출석   출석   지각   1   0   0      0   3
121  2023-02-16   5.9      맑음   출석   지각   조퇴   출석   출석   1   1   0      0   2
122  2023-02-17   7.3      맑음   출석   출석   출석   출석   출석   0   0   0      0   4
123  2023-02-20   4.5      맑음   출석   출석   출석   출석   출석   0   0   0      0   4

[124 rows x 13 columns]

In [11]:
WA.to_csv('정제데이터/날씨_출결현황(지조별컬럼추가).csv',index=False,encoding='CP949')

In [12]:
WA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     124 non-null    object
 1   Temp     124 non-null    float64
 2   Weather  124 non-null    object
 3   ID_1     124 non-null    object
 4   ID_2     124 non-null    object
 5   ID_3     124 non-null    object
 6   ID_4     124 non-null    object
 7   ID_5     124 non-null    object
 8   지각       124 non-null    int64
 9   조퇴       124 non-null    int64
 10  결석       124 non-null    int64
 11  지각&조퇴    124 non-null    int64
 12  출석       124 non-null    int64
dtypes: float64(1), int64(5), object(7)
memory usage: 12.7+ KB