In [175]:
import pandas as pd
import numpy as np

In [176]:
WA2=pd.read_csv('정제데이터/날씨_출결현황_(지조별컬럼추가).csv',encoding='CP949')
WA2

           Date  Temp Weather ID_1 ID_2 ID_3 ID_4 ID_5  지각  조퇴  결석  지각&조퇴  출석
0    2022-08-22  25.7      맑음   출석   출석   출석   결석   출석   0   0   1      0   4
1    2022-08-23  27.0       비   출석   출석   출석   출석   출석   0   0   0      0   5
2    2022-08-24  22.5       비   출석   출석   출석   지각   지각   2   0   0      0   3
3    2022-08-25  24.2      맑음   출석   출석   출석   출석   출석   0   0   0      0   5
4    2022-08-26  25.1      맑음   출석   출석   출석   출석   출석   0   0   0      0   5
..          ...   ...     ...  ...  ...  ...  ...  ...  ..  ..  ..    ...  ..
119  2023-02-14   6.1      맑음   지각   출석   출석   출석   결석   1   0   1      0   3
120  2023-02-15   3.8      맑음   출석   출석   출석   출석   지각   1   0   0      0   4
121  2023-02-16   5.9      맑음   출석   지각   조퇴   출석   출석   1   1   0      0   3
122  2023-02-17   7.3      맑음   출석   출석   출석   출석   출석   0   0   0      0   5
123  2023-02-20   4.5      맑음   출석   출석   출석   출석   출석   0   0   0      0   5

[124 rows x 13 columns]

In [177]:
WA2.dtypes

Date        object
Temp       float64
Weather     object
ID_1        object
ID_2        object
ID_3        object
ID_4        object
ID_5        object
지각           int64
조퇴           int64
결석           int64
지각&조퇴        int64
출석           int64
dtype: object

In [178]:
# ID_1 ~ ID_5, Date, Temp 드랍
WA2=WA2.drop(columns=['ID_1','ID_2','ID_3','ID_4','ID_5','Date','Temp'])
WA2

    Weather  지각  조퇴  결석  지각&조퇴  출석
0        맑음   0   0   1      0   4
1         비   0   0   0      0   5
2         비   2   0   0      0   3
3        맑음   0   0   0      0   5
4        맑음   0   0   0      0   5
..      ...  ..  ..  ..    ...  ..
119      맑음   1   0   1      0   3
120      맑음   1   0   0      0   4
121      맑음   1   1   0      0   3
122      맑음   0   0   0      0   5
123      맑음   0   0   0      0   5

[124 rows x 6 columns]

날씨: 맑음

In [179]:
# 날씨: 맑음 , 출결: 지각
filtered=WA2[WA2['Weather']=='맑음']

s_late=filtered['지각'].sum()
s_late

25

In [180]:
# 날씨: 맑음 , 출결: 조퇴
s_early=filtered['조퇴'].sum()
s_early

50

In [181]:
# 날씨: 맑음 , 출결: 결석
s_absent=filtered['결석'].sum()
s_absent

44

In [182]:
# 날씨: 맑음 , 출결: 지각&조퇴
s_late_ear=filtered['지각&조퇴'].sum()
s_late_ear
# s_late_ear=filtered['출석'].sum()

2

날씨: 비

In [183]:
# 날씨: 비 , 출결: 지각
filtered=WA2[WA2['Weather']=='비']
r_late=filtered['지각'].sum()
r_late

5

In [184]:
# 날씨: 비 , 출결: 조퇴
r_early=filtered['조퇴'].sum()
r_early

5

In [185]:
# 날씨: 비 , 출결: 결석
r_absent=filtered['결석'].sum()
r_absent

11

In [186]:
# 날씨: 비 , 출결: 지각&조퇴
r_late_ear=filtered['지각&조퇴'].sum()
r_late_ear

1

날씨: 한파

In [187]:
# 날씨: 한파 , 출결: 지각
filtered=WA2[WA2['Weather']=='한파']
c_late=filtered['지각'].sum()
c_late

1

In [188]:
# 날씨: 한파 , 출결: 조퇴
c_early=filtered['조퇴'].sum()
c_early

3

In [189]:
# 날씨: 한파 , 출결: 결석
c_absent=filtered['결석'].sum()
c_absent

8

In [190]:
# 날씨: 한파 , 출결: 지각&조퇴
c_late_ear=filtered['지각&조퇴'].sum()
c_late_ear

0

합계

In [191]:
# 지각 합계 구하기
sum_late = s_late + r_late + c_late
sum_late

31

In [192]:
# 조퇴 합계 구하기
sum_early = s_early + r_early + c_early
sum_early

58

In [193]:
# 결석 합계 구하기
sum_absent = s_absent + r_absent + c_absent
sum_absent

63

In [194]:
# 지각 & 조퇴 합계 구하기
sum_late_early = s_late_ear + r_late_ear + c_late_ear
sum_late_early

3

In [195]:
# 비 & 한파 합
# 지각 
sum_rc_late=r_late+c_late

# 조퇴
sum_rc_early=r_early+c_early

# 결석
sum_rc_absent=r_absent+c_absent

# 지각&조퇴
sum_rc_le=r_late_ear+c_late_ear

# 비&한파 합계 구하기
rain_cold=sum_rc_late+sum_rc_early+sum_rc_absent+sum_rc_le
rain_cold

34

In [196]:
# DataFrame 생성
data={'구분':['맑음','비','한파','비&한파 합계','총합'],
      '지각':[s_late,r_late,c_late,sum_rc_late,sum_late],
      '조퇴':[s_early,r_early,c_early,sum_rc_early,sum_early],
      '결석':[s_absent,r_absent,c_absent,sum_rc_absent,sum_absent],
      '지각&조퇴':[s_late_ear,r_late_ear,c_late_ear,sum_rc_le,sum_late_early]}

sep_sum=pd.DataFrame(data)
sep_sum

        구분  지각  조퇴  결석  지각&조퇴
0       맑음  25  50  44      2
1        비   5   5  11      1
2       한파   1   3   8      0
3  비&한파 합계   6   8  19      1
4       총합  31  58  63      3

In [197]:
# 행,열 변경
sep_sum = sep_sum.rename(columns={'구분': 'index'})
sep_sum = sep_sum.set_index('index').transpose().reset_index()



sep_sum = sep_sum.set_axis(['구분', '맑음', '비', '한파', '비&한파 합계', '총합'], axis=1)
sep_sum

      구분  맑음   비  한파  비&한파 합계  총합
0     지각  25   5   1        6  31
1     조퇴  50   5   3        8  58
2     결석  44  11   8       19  63
3  지각&조퇴   2   1   0        1   3

In [198]:
# csv 저장
sep_sum.to_csv('완료데이터/날씨와출결현황.csv',index=False , encoding='CP949')