In [1]:
import pandas as pd

df=pd.read_excel('오리지널데이터/출결_시간형식_통합본_org.xlsx')
df

     구분         일자      입실시간      퇴실시간 출결상태
0     1 2022-08-22  08:56:00  16:41:00   출석
1     1 2022-08-23  08:45:00  16:41:00   출석
2     1 2022-08-24  08:55:00  16:41:00   출석
3     1 2022-08-25  08:57:00  16:41:00   출석
4     1 2022-08-26  08:46:00  16:41:00   출석
..   ..        ...       ...       ...  ...
615   5 2023-02-14  00:00:00  00:00:00   결석
616   5 2023-02-15  11:13:00  16:52:00   지각
617   5 2023-02-16  08:44:00  16:46:00   출석
618   5 2023-02-17  08:52:00  17:40:00   출석
619   5 2023-02-20  08:51:00  16:55:00   출석

[620 rows x 5 columns]

In [2]:
attcount=[]
notcount=[]
latecount=[]
outcount=[]

In [3]:
attendance_count = df[(df['일자'].dt.month == 8) & (df['출결상태'] == '출석')]['출결상태'].count()
attcount.append(attendance_count)
attcount

[36]

In [4]:
attendance_count = df[(df['일자'].dt.month == 9) & (df['출결상태'] == '출석')]['출결상태'].count()
attcount.append(attendance_count)
attcount

[36, 81]

In [5]:
attendance_count = df[(df['일자'].dt.month == 10) & (df['출결상태'] == '출석')]['출결상태'].count()

attcount.append(attendance_count)
attcount

[36, 81, 78]

In [6]:
attendance_count = df[(df['일자'].dt.month == 11) & (df['출결상태'] == '출석')]['출결상태'].count()

attcount.append(attendance_count)
attcount

[36, 81, 78, 77]

In [7]:
attendance_count = df[(df['일자'].dt.month == 12) & (df['출결상태'] == '출석')]['출결상태'].count()

attcount.append(attendance_count)
attcount

[36, 81, 78, 77, 82]

In [8]:
attendance_count = df[(df['일자'].dt.month == 1) & (df['출결상태'] == '출석')]['출결상태'].count()

attcount.append(attendance_count)
attcount

[36, 81, 78, 77, 82, 68]

In [9]:
attendance_count = df[(df['일자'].dt.month == 2) & (df['출결상태'] == '출석')]['출결상태'].count()

attcount.append(attendance_count)
attcount

[36, 81, 78, 77, 82, 68, 43]

In [10]:
total = sum(attcount)

attcount.append(total)
attcount

[36, 81, 78, 77, 82, 68, 43, 465]

In [11]:
not_count = df[(df['일자'].dt.month == 8) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1]

In [12]:
not_count = df[(df['일자'].dt.month == 9) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4]

In [13]:
not_count = df[(df['일자'].dt.month == 10) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4, 3]

In [14]:
not_count = df[(df['일자'].dt.month == 11) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4, 3, 11]

In [15]:
not_count = df[(df['일자'].dt.month == 12) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4, 3, 11, 17]

In [16]:
not_count = df[(df['일자'].dt.month == 1) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4, 3, 11, 17, 14]

In [17]:
not_count = df[(df['일자'].dt.month == 2) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4, 3, 11, 17, 14, 13]

In [18]:
total = sum(notcount)

notcount.append(total)
notcount

[1, 4, 3, 11, 17, 14, 13, 63]

In [19]:
late_count= df[(df['일자'].dt.month == 8) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3]

In [20]:
late_count= df[(df['일자'].dt.month == 9) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2]

In [21]:
late_count= df[(df['일자'].dt.month == 10) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2, 4]

In [22]:
late_count= df[(df['일자'].dt.month == 11) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2, 4, 4]

In [23]:
late_count= df[(df['일자'].dt.month == 12) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2, 4, 4, 4]

In [24]:
late_count= df[(df['일자'].dt.month == 1) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2, 4, 4, 4, 8]

In [25]:
late_count= df[(df['일자'].dt.month == 2) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2, 4, 4, 4, 8, 6]

In [26]:
total = sum(latecount)

latecount.append(total)
latecount

[3, 2, 4, 4, 4, 8, 6, 31]

In [27]:
out_count=df[(df['일자'].dt.month == 8) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0]

In [28]:
out_count=df[(df['일자'].dt.month == 9) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7]

In [29]:
out_count=df[(df['일자'].dt.month == 10) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7, 10]

In [30]:
out_count=df[(df['일자'].dt.month == 11) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7, 10, 17]

In [31]:
out_count=df[(df['일자'].dt.month == 12) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7, 10, 17, 7]

In [32]:
out_count=df[(df['일자'].dt.month == 1) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7, 10, 17, 7, 9]

In [33]:
out_count=df[(df['일자'].dt.month == 2) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7, 10, 17, 7, 9, 8]

In [34]:
total = sum(outcount)

outcount.append(total)
outcount

[0, 7, 10, 17, 7, 9, 8, 58]

In [35]:
excount=[]

In [36]:
ex_count=df[(df['일자'].dt.month == 8) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0]

In [37]:
ex_count=df[(df['일자'].dt.month == 9) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1]

In [38]:
ex_count=df[(df['일자'].dt.month == 10) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1, 0]

In [39]:
ex_count=df[(df['일자'].dt.month == 11) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1, 0, 1]

In [40]:
ex_count=df[(df['일자'].dt.month == 12) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1, 0, 1, 0]

In [41]:
ex_count=df[(df['일자'].dt.month == 1) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1, 0, 1, 0, 1]

In [42]:
ex_count=df[(df['일자'].dt.month == 2) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1, 0, 1, 0, 1, 0]

In [43]:
total = sum(excount)

excount.append(total)
excount

[0, 1, 0, 1, 0, 1, 0, 3]

In [44]:
months=['8월','9월','10월','11월','12월','1월','2월','총합']

In [45]:
all_df = pd.DataFrame({
    '월별': months,
    '출석': attcount,
    '결석': notcount,
    '지각': latecount,
    '조퇴': outcount,
    '지각&조퇴': excount
    
    
})

all_df

    월별   출석  결석  지각  조퇴  지각&조퇴
0   8월   36   1   3   0      0
1   9월   81   4   2   7      1
2  10월   78   3   4  10      0
3  11월   77  11   4  17      1
4  12월   82  17   4   7      0
5   1월   68  14   8   9      1
6   2월   43  13   6   8      0
7   총합  465  63  31  58      3

In [46]:
attendanceprob = []

In [47]:
#출석률 구하기

for i in range(len(all_df)): #데이터 크기만큼 지정
    data = all_df.iloc[i] # 데이터의 row크기
    attendance = data['출석'] 
    total = data['출석'] + data['결석'] + data['지각'] + data['조퇴'] + data['지각&조퇴']
    attendance_prob = attendance / total
    attendanceprob.append(attendance_prob)

In [48]:

attendanceprob

[0.9,
 0.8526315789473684,
 0.8210526315789474,
 0.7,
 0.7454545454545455,
 0.68,
 0.6142857142857143,
 0.75]

In [49]:
all_df = pd.DataFrame({
    '월별': months,
    '출석': attcount,
    '결석': notcount,
    '지각': latecount,
    '조퇴': outcount,
    '지각&조퇴': excount,
    '출석률': attendanceprob
    
})

all_df

    월별   출석  결석  지각  조퇴  지각&조퇴       출석률
0   8월   36   1   3   0      0  0.900000
1   9월   81   4   2   7      1  0.852632
2  10월   78   3   4  10      0  0.821053
3  11월   77  11   4  17      1  0.700000
4  12월   82  17   4   7      0  0.745455
5   1월   68  14   8   9      1  0.680000
6   2월   43  13   6   8      0  0.614286
7   총합  465  63  31  58      3  0.750000

In [50]:
aug_sum = all_df.loc[all_df['월별'] == '8월', ['출석', '결석', '지각', '조퇴', '지각&조퇴']].sum().sum()

aug_sum

40

In [51]:
# 데이터 프레임에서 8월~2월까지 해당하는 행들만 추출
df_month = all_df.loc[:6]

# 각 월별 출석, 결석, 지각, 조퇴, 지각&조퇴의 합계 계산하여 리스트에 담기
sum_list = []
for i in range(len(df_month)):
    row_sum = df_month.loc[i, ['출석', '결석', '지각', '조퇴', '지각&조퇴']].sum()
    sum_list.append(row_sum)

# 결과 출력
print("각 월별 합계 리스트: ", sum_list)

각 월별 합계 리스트:  [40, 95, 95, 110, 110, 100, 70]

In [52]:
total = sum(sum_list)

sum_list.append(total)
sum_list

[40, 95, 95, 110, 110, 100, 70, 620]

In [53]:
all_df = pd.DataFrame({
    '월': months,
    '출석': attcount,
    '결석': notcount,
    '지각': latecount,
    '조퇴': outcount,
    '지각&조퇴': excount,
    '출결총합': sum_list,
    '출석률': attendanceprob
    
})
all_df

     월   출석  결석  지각  조퇴  지각&조퇴  출결총합       출석률
0   8월   36   1   3   0      0    40  0.900000
1   9월   81   4   2   7      1    95  0.852632
2  10월   78   3   4  10      0    95  0.821053
3  11월   77  11   4  17      1   110  0.700000
4  12월   82  17   4   7      0   110  0.745455
5   1월   68  14   8   9      1   100  0.680000
6   2월   43  13   6   8      0    70  0.614286
7   총합  465  63  31  58      3   620  0.750000

In [54]:
all_df['출석률'] = all_df['출석률'] * 100
all_df['출석률'] = all_df['출석률'].apply(lambda x: round(x,2))

In [55]:
all_df

     월   출석  결석  지각  조퇴  지각&조퇴  출결총합    출석률
0   8월   36   1   3   0      0    40  90.00
1   9월   81   4   2   7      1    95  85.26
2  10월   78   3   4  10      0    95  82.11
3  11월   77  11   4  17      1   110  70.00
4  12월   82  17   4   7      0   110  74.55
5   1월   68  14   8   9      1   100  68.00
6   2월   43  13   6   8      0    70  61.43
7   총합  465  63  31  58      3   620  75.00

In [56]:
all_df.to_csv('완료데이터/월별출결.csv', encoding='cp949')