In [354]:
import pandas as pd

df=pd.read_excel('오리지널데이터/출결_시간형식_통합본_org.xlsx')
df

     구분         일자      입실시간      퇴실시간 출결상태
0     1 2022-08-22  08:56:00  16:41:00   출석
1     1 2022-08-23  08:45:00  16:41:00   출석
2     1 2022-08-24  08:55:00  16:41:00   출석
3     1 2022-08-25  08:57:00  16:41:00   출석
4     1 2022-08-26  08:46:00  16:41:00   출석
..   ..        ...       ...       ...  ...
615   5 2023-02-14  00:00:00  00:00:00   결석
616   5 2023-02-15  11:13:00  16:52:00   지각
617   5 2023-02-16  08:44:00  16:46:00   출석
618   5 2023-02-17  08:52:00  17:40:00   출석
619   5 2023-02-20  08:51:00  16:55:00   출석

[620 rows x 5 columns]

In [355]:
attcount=[]
notcount=[]
latecount=[]
outcount=[]

In [356]:
attendance_count = df[(df['일자'].dt.month == 8) & (df['출결상태'] == '출석')]['출결상태'].count()

attcount.append(attendance_count)
attcount

[36]

In [357]:
attendance_count = df[(df['일자'].dt.month == 9) & (df['출결상태'] == '출석')]['출결상태'].count()
attcount.append(attendance_count)
attcount

[36, 81]

In [358]:
attendance_count = df[(df['일자'].dt.month == 10) & (df['출결상태'] == '출석')]['출결상태'].count()

attcount.append(attendance_count)
attcount

[36, 81, 78]

In [359]:
attendance_count = df[(df['일자'].dt.month == 11) & (df['출결상태'] == '출석')]['출결상태'].count()

attcount.append(attendance_count)
attcount

[36, 81, 78, 77]

In [360]:
attendance_count = df[(df['일자'].dt.month == 12) & (df['출결상태'] == '출석')]['출결상태'].count()

attcount.append(attendance_count)
attcount

[36, 81, 78, 77, 82]

In [361]:
attendance_count = df[(df['일자'].dt.month == 1) & (df['출결상태'] == '출석')]['출결상태'].count()

attcount.append(attendance_count)
attcount

[36, 81, 78, 77, 82, 68]

In [362]:
attendance_count = df[(df['일자'].dt.month == 2) & (df['출결상태'] == '출석')]['출결상태'].count()

attcount.append(attendance_count)
attcount

[36, 81, 78, 77, 82, 68, 43]

In [363]:
not_count = df[(df['일자'].dt.month == 8) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1]

In [364]:
not_count = df[(df['일자'].dt.month == 9) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4]

In [365]:
not_count = df[(df['일자'].dt.month == 10) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4, 3]

In [366]:
not_count = df[(df['일자'].dt.month == 11) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4, 3, 11]

In [367]:
not_count = df[(df['일자'].dt.month == 12) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4, 3, 11, 17]

In [368]:
not_count = df[(df['일자'].dt.month == 1) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4, 3, 11, 17, 14]

In [369]:
not_count = df[(df['일자'].dt.month == 2) & (df['출결상태'] == '결석')]['출결상태'].count()

notcount.append(not_count)
notcount

[1, 4, 3, 11, 17, 14, 13]

In [370]:
late_count= df[(df['일자'].dt.month == 8) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3]

In [371]:
late_count= df[(df['일자'].dt.month == 9) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2]

In [372]:
late_count= df[(df['일자'].dt.month == 10) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2, 4]

In [373]:
late_count= df[(df['일자'].dt.month == 11) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2, 4, 4]

In [374]:
late_count= df[(df['일자'].dt.month == 12) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2, 4, 4, 4]

In [375]:
late_count= df[(df['일자'].dt.month == 1) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2, 4, 4, 4, 8]

In [376]:
late_count= df[(df['일자'].dt.month == 2) & (df['출결상태'] == '지각')]['출결상태'].count()
latecount.append(late_count)
latecount

[3, 2, 4, 4, 4, 8, 6]

In [377]:
out_count=df[(df['일자'].dt.month == 8) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0]

In [378]:
out_count=df[(df['일자'].dt.month == 9) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7]

In [379]:
out_count=df[(df['일자'].dt.month == 10) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7, 10]

In [380]:
out_count=df[(df['일자'].dt.month == 11) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7, 10, 17]

In [381]:
out_count=df[(df['일자'].dt.month == 12) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7, 10, 17, 7]

In [382]:
out_count=df[(df['일자'].dt.month == 1) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7, 10, 17, 7, 9]

In [383]:
out_count=df[(df['일자'].dt.month == 2) & (df['출결상태'] == '조퇴')]['출결상태'].count()
outcount.append(out_count)
outcount

[0, 7, 10, 17, 7, 9, 8]

In [384]:
excount=[]

In [385]:
ex_count=df[(df['일자'].dt.month == 8) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0]

In [386]:
ex_count=df[(df['일자'].dt.month == 9) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1]

In [387]:
ex_count=df[(df['일자'].dt.month == 10) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1, 0]

In [388]:
ex_count=df[(df['일자'].dt.month == 11) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1, 0, 1]

In [389]:
ex_count=df[(df['일자'].dt.month == 12) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1, 0, 1, 0]

In [390]:
ex_count=df[(df['일자'].dt.month == 1) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1, 0, 1, 0, 1]

In [391]:
ex_count=df[(df['일자'].dt.month == 2) & (df['출결상태'] == '지각&조퇴')]['출결상태'].count()
excount.append(ex_count)
excount

[0, 1, 0, 1, 0, 1, 0]

In [392]:
months=['8월','9월','10월','11월','12월','1월','2월']

In [393]:
all_df = pd.DataFrame({
    '월': months,
    '출석횟수': attcount,
    '결석횟수': notcount,
    '지각횟수': latecount,
    '조퇴횟수': outcount,
    '지각&조퇴횟수': excount
    
})

all_df

     월  출석횟수  결석횟수  지각횟수  조퇴횟수  지각&조퇴횟수
0   8월    36     1     3     0        0
1   9월    81     4     2     7        1
2  10월    78     3     4    10        0
3  11월    77    11     4    17        1
4  12월    82    17     4     7        0
5   1월    68    14     8     9        1
6   2월    43    13     6     8        0

In [394]:
percent_df=[]

In [395]:
totalcount=[]

In [396]:
for i in range(len(all_df)):
    data = all_df.iloc[i]
    
    total = data['결석횟수'] + data['지각횟수'] + data['조퇴횟수'] + data['지각&조퇴횟수']
    totalcount.append(total)

In [397]:
totalcount

[4, 14, 17, 33, 28, 32, 27]

In [398]:
all_df = pd.DataFrame({
    '월': months,
    '출석횟수': attcount,
    '결석횟수': notcount,
    '지각횟수': latecount,
    '조퇴횟수횟수': outcount,
    '지각&조퇴': excount
    
})

all_df

     월  출석횟수  결석횟수  지각횟수  조퇴횟수횟수  지각&조퇴
0   8월    36     1     3       0      0
1   9월    81     4     2       7      1
2  10월    78     3     4      10      0
3  11월    77    11     4      17      1
4  12월    82    17     4       7      0
5   1월    68    14     8       9      1
6   2월    43    13     6       8      0

In [399]:
denial_df = pd.DataFrame({
    '월': months,    
    '결석횟수': notcount,
    '지각횟수': latecount,
    '조퇴횟수': outcount,
    '지각&조퇴횟수': excount,
    '월별통합': totalcount,
    
    
})

denial_df

     월  결석횟수  지각횟수  조퇴횟수  지각&조퇴횟수  월별통합
0   8월     1     3     0        0     4
1   9월     4     2     7        1    14
2  10월     3     4    10        0    17
3  11월    11     4    17        1    33
4  12월    17     4     7        0    28
5   1월    14     8     9        1    32
6   2월    13     6     8        0    27

In [400]:
integrated_data = denial_df['결석횟수']

cumulative_data = integrated_data.cumsum()

denial_df['결석'] = cumulative_data

denial_df

     월  결석횟수  지각횟수  조퇴횟수  지각&조퇴횟수  월별통합  결석
0   8월     1     3     0        0     4   1
1   9월     4     2     7        1    14   5
2  10월     3     4    10        0    17   8
3  11월    11     4    17        1    33  19
4  12월    17     4     7        0    28  36
5   1월    14     8     9        1    32  50
6   2월    13     6     8        0    27  63

In [401]:
integrated_data = denial_df['지각횟수']


cumulative_data = integrated_data.cumsum()


denial_df['지각'] = cumulative_data


denial_df

     월  결석횟수  지각횟수  조퇴횟수  지각&조퇴횟수  월별통합  결석  지각
0   8월     1     3     0        0     4   1   3
1   9월     4     2     7        1    14   5   5
2  10월     3     4    10        0    17   8   9
3  11월    11     4    17        1    33  19  13
4  12월    17     4     7        0    28  36  17
5   1월    14     8     9        1    32  50  25
6   2월    13     6     8        0    27  63  31

In [402]:
integrated_data = denial_df['조퇴횟수']


cumulative_data = integrated_data.cumsum()


denial_df['조퇴'] = cumulative_data


denial_df

     월  결석횟수  지각횟수  조퇴횟수  지각&조퇴횟수  월별통합  결석  지각  조퇴
0   8월     1     3     0        0     4   1   3   0
1   9월     4     2     7        1    14   5   5   7
2  10월     3     4    10        0    17   8   9  17
3  11월    11     4    17        1    33  19  13  34
4  12월    17     4     7        0    28  36  17  41
5   1월    14     8     9        1    32  50  25  50
6   2월    13     6     8        0    27  63  31  58

In [403]:
integrated_data = denial_df['지각&조퇴횟수']


cumulative_data = integrated_data.cumsum()


denial_df['지각&조퇴'] = cumulative_data


denial_df

     월  결석횟수  지각횟수  조퇴횟수  지각&조퇴횟수  월별통합  결석  지각  조퇴  지각&조퇴
0   8월     1     3     0        0     4   1   3   0      0
1   9월     4     2     7        1    14   5   5   7      1
2  10월     3     4    10        0    17   8   9  17      1
3  11월    11     4    17        1    33  19  13  34      2
4  12월    17     4     7        0    28  36  17  41      2
5   1월    14     8     9        1    32  50  25  50      3
6   2월    13     6     8        0    27  63  31  58      3

In [404]:
integrated_data = denial_df['월별통합']


cumulative_data = integrated_data.cumsum()


denial_df['월별누적'] = cumulative_data


denial_df

     월  결석횟수  지각횟수  조퇴횟수  지각&조퇴횟수  월별통합  결석  지각  조퇴  지각&조퇴  월별누적
0   8월     1     3     0        0     4   1   3   0      0     4
1   9월     4     2     7        1    14   5   5   7      1    18
2  10월     3     4    10        0    17   8   9  17      1    35
3  11월    11     4    17        1    33  19  13  34      2    68
4  12월    17     4     7        0    28  36  17  41      2    96
5   1월    14     8     9        1    32  50  25  50      3   128
6   2월    13     6     8        0    27  63  31  58      3   155

In [405]:
# 누적열 데이터만 추출
accumulation_df=denial_df.drop(['결석횟수','지각횟수','조퇴횟수','지각&조퇴횟수','월별통합'], axis=1)
accumulation_df

     월  결석  지각  조퇴  지각&조퇴  월별누적
0   8월   1   3   0      0     4
1   9월   5   5   7      1    18
2  10월   8   9  17      1    35
3  11월  19  13  34      2    68
4  12월  36  17  41      2    96
5   1월  50  25  50      3   128
6   2월  63  31  58      3   155

In [406]:
# 파일로 저장
accumulation_df.to_csv('완료데이터/월별지조결누적.csv', encoding='cp949')