In [76]:
import pandas as pd
import numpy as np

In [77]:
#파일 불러오기
df=pd.read_csv('정제데이터/월별누적히스토그램.csv',encoding='cp949')

df

,Unnamed: 0,월별,결석횟수,지각횟수,조퇴횟수,지각&조퇴,월별통합,결석누적,지각누적,조퇴누적,지각&조퇴누적,월별누적
0,0,8월,1,3,0,0,4,1,3,0,0,4
1,1,9월,4,2,7,1,14,5,5,7,1,18
2,2,10월,3,4,10,0,17,8,9,17,1,35
3,3,11월,11,4,17,1,33,19,13,34,2,68
4,4,12월,17,4,7,0,28,36,17,41,2,96
5,5,1월,14,8,9,1,32,50,25,50,3,128
6,6,2월,13,6,8,0,27,63,31,58,3,155

In [78]:
#파일 불러오기
df=df.drop(columns=['Unnamed: 0'],axis=1)
df

    월별  결석횟수  지각횟수  조퇴횟수  지각&조퇴  월별통합  결석누적  지각누적  조퇴누적  지각&조퇴누적  월별누적
0   8월     1     3     0      0     4     1     3     0        0     4
1   9월     4     2     7      1    14     5     5     7        1    18
2  10월     3     4    10      0    17     8     9    17        1    35
3  11월    11     4    17      1    33    19    13    34        2    68
4  12월    17     4     7      0    28    36    17    41        2    96
5   1월    14     8     9      1    32    50    25    50        3   128
6   2월    13     6     8      0    27    63    31    58        3   155

In [79]:
# 결석 횟수 리스트 생성
no_accumulate=df['결석횟수'].values.tolist()
no_accumulate

[1, 4, 3, 11, 17, 14, 13]

In [80]:
no_diffs = []

for i in range(len(no_accumulate)-1): # -1은 end 끝부분 이라는 뜻
    diff = no_accumulate[i+1] - no_accumulate[i] #9월 결석횟수 - 8월 결석 횟수
    no_diffs.append(diff)

no_diffs

[3, -1, 8, 6, -3, -1]

In [81]:
# 지각 횟수 리스트 만들기 
late_accumulate=df['지각횟수'].values.tolist()
late_accumulate

[3, 2, 4, 4, 4, 8, 6]

In [82]:
late_diffs = []

for i in range(len(no_accumulate)-1):
    diff = late_accumulate[i+1] - late_accumulate[i]#9월 지각횟수 - 8월 지각 횟수
    late_diffs.append(diff)

late_diffs

[-1, 2, 0, 0, 4, -2]

In [83]:
# 조퇴 횟수 리스트 만들기 
out_accumulate=df['조퇴횟수'].values.tolist()
out_accumulate

[0, 7, 10, 17, 7, 9, 8]

In [84]:
out_diffs = []

for i in range(len(no_accumulate)-1):
    diff = out_accumulate[i+1] - out_accumulate[i] #9월 조퇴횟수 - 8월 조퇴 횟수
    out_diffs.append(diff)

out_diffs

[7, 3, 7, -10, 2, -1]

In [85]:
# 지각&조퇴
ex_accumulate=df['지각&조퇴'].values.tolist()
ex_accumulate

[0, 1, 0, 1, 0, 1, 0]

In [86]:

ex_diffs = []

for i in range(len(ex_accumulate)-1):
    diff = ex_accumulate[i+1] - ex_accumulate[i]#9월 지각&조퇴횟수 - 8월 지각&조퇴 횟수
    ex_diffs.append(diff)

ex_diffs

[1, -1, 1, -1, 1, -1]

In [87]:
months=['9월','10월','11월','12월','1월','2월']

In [88]:

all_df=pd.DataFrame({
    
    '월별': months,
    '결석변화':no_diffs,
    '지각변화':late_diffs,
    '조퇴변화': out_diffs,
    '지각&조퇴변화': ex_diffs
    
    }
)

all_df

    월별  결석변화  지각변화  조퇴변화  지각&조퇴변화
0   9월     3    -1     7        1
1  10월    -1     2     3       -1
2  11월     8     0     7        1
3  12월     6     0   -10       -1
4   1월    -3     4     2        1
5   2월    -1    -2    -1       -1

In [89]:
all_df.to_csv('완료데이터/출결변화율그래프.csv',encoding='cp949')